.toggle {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
    position: absolute;
    top: 65px;
    left: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-icon {
    width: 18px;
    height: 15px;
    margin-left: 2px;
}
.toggle-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    cursor: pointer;
}
@media(max-width: 1024px){
    .toggle{
       margin-top: 20px;
    }
}